@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* general styles */
:root {
  --color-white-1: #FDFDFD;
  --color-white-2: #f2f2f2;
  --color-white-3: #f5f5f7;
  --color-white-4: #c4c4c4;

  --color-black-1: #1D1D1D;
  --color-black-2: #474747;
  --color-black-3: #727272;
  --color-black-4: #adadad;

  --color-black-hover-overlay: #000000af;

  --color-blue-1: #47A7FF;
  --color-blue-2: #74bafc;

  --meta-blue-1: #0064e0;
  --meta-blue-2: #0484fc;

  --color-pink-1: rgb(221, 74, 255);
  --color-pink-2: rgb(230, 117, 255);

  --transitionTime: 0.3s;


  --underline-width: 1lh;
  --underline-block-width: 200vmax;
  --underline-color: hsl(0 0% 50% / 0.15);
  --underline-color-hover: hsl(180 100% 50% / 1);
  --underline-transition: 5s;
  --finish-fill: var(--color-white-1);
  --accent: var(--color-white-1);
  --fill: hsl(0 0% 50%);


  --soft-shadow-1: 0px 5px 15px rgba(0,0,0,0.05);
  --blending: multiply;

}

* {
  margin: 0;
  padding: 0;
  font-family: Inter;
  color: var(--color-black-2);
  box-sizing: border-box;
  /* cursor: none; */
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  background-color: var(--color-white-1);
}

.show-border {
  border: 2px solid pink;
}

.content {
  max-width: 80%;
  margin: 0 auto;
}

h1, h1 * {
  color: var(--color-black-1);
}

.seperator {
  background-color: var(--color-white-2);
  margin: 4rem auto 1rem;
  max-width: 100%;
  height: 3px;
}

.sectionheading {
  color: var(--color-black-3);
  font-weight: 500;
  padding: 5px 0;
  background: linear-gradient( 90deg,
  var(--color-black-2), var(--color-black-1));
  background-size: 100% 100%;
  background-clip: text;
  color: transparent;
}

/* Base cursor style */
.cursor {
  position: fixed;
  background-color: var(--color-black-1);
  opacity: 0.4;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  top: -10px;
  left: -10px;
  z-index: 9999;
  pointer-events: none;
  mix-blend-mode: var(--blending);
  transition: width var(--transitionTime) ease, height var(--transitionTime) ease, opacity var(--transitionTime) ease;
  transform: translate(-50%, -50%); /* Center the cursor */
}

/* Default cursor styles */
.cursor.normal {
  transform: scale(1) translate(-50%, -50%);
  opacity: 0.4;
}

/* Cursor styles when hovering over clickable items */
.cursor.hovered {
  width: 12px;
  height: 12px;
  transform: translate(-50%, -50%);
  opacity: 0.7;
}

/* Navbar */
.Navbar {
  display: flex;
  justify-content: center;
}

.navbar-content-holder {
  top: 0;
  position: fixed;
  z-index: 10;
  width: 100vw;
  /* background-color: var(--color-white-1); */
  background-color: rgba(253, 253, 253, .8);
  
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
}

.links2 a {
  color: var(--color-black-2);
  font-size: 14px;
  text-decoration: none;
  transition: var(--transitionTime);
}

.links2 a:hover {
  color: var(--color-black-1);
}

.links-text a {
  margin-left: 3rem;
}

.links-icons a {
  margin-right: 3rem;
  text-decoration: none;
}

.navbar-link-icons i {
  margin-top: 5px;
  font-size: 22px;
  transition: var(--transitionTime);
}

.navbar-link-icons i:hover{
  color: var(--color-black-1);
}

.links2 {
  display: none;
}

.nav-links-hamburger {
  display: none;
  width: 100vw;
  /* background-color: var(--color-white-1); */
  background-color: rgba(253, 253, 253, .65);
  
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  z-index: 9;
  top: 3rem;
  padding: 1.5rem;
}

.show {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
}

.hamburger-menu-icon{
  color: var(--color-black-2);
  font-size: 1.5rem;
  text-decoration: none;
  transition: var(--transitionTime);
}

.hamburger-menu-icon:hover {
  color: var(--color-black-1);
}

.nav-links-hamburger a {
  color: var(--color-black-2);
  font-size: 14px;
  text-decoration: none;
  transition: var(--transitionTime);
}

.nav-links-hamburger a:hover {
  color: var(--color-black-1);
}

.navbar-links-gradient, .navbar-links-gradient * {
  background: radial-gradient(circle,
  var(--color-blue-1), var(--color-pink-1));
  animation: text-gradient 15s linear infinite;
  background-size: 300% 300%;
  background-clip: text;
  color: transparent;
}


/* tool tip */

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  border-bottom: none;
  outline: none; 
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 80px;
  font-size: 14px;
  background-color: var(--color-black-1);
  color: var(--color-white-1);
  text-align: center;
  border-radius: 6px;
  padding: 2px 0;
  position: absolute;
  z-index: 1;
  top: 120%;
  left: 50%;
  margin-left: -40px;
  
  /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
  opacity: 0;
  transition: opacity 1s;
  text-decoration: none;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}


/* Intro */
.intro {
  position: sticky;
  top: 0px;
  z-index: -1;
}

.intro-namegradient {
    background: radial-gradient(circle,
    var(--color-blue-1), var(--color-pink-1));
    animation: text-gradient 15s linear infinite;
    background-size: 300% 300%;
    background-clip: text;
    color: transparent;
}

.intro-companygradient {
  background: radial-gradient(circle,
  #0064e0, #0484fc);
    animation: text-gradient 15s linear infinite;
    background-size: 300% 300%;
    background-clip: text;
    color: transparent;
}
  
@keyframes text-gradient {
  0% {
    background-position: 0%, 0%;
  }
  50% {
    background-position: 200%, 200%;
  }
  100% {
    background-position: 0%, 0%;
  }
}

/* scroll animation */
.introScrollAnimation {
  background-color: var(--color-black-1);
  z-index: 0;
  /* box-shadow: 0px 0px 5px rgba(0,0,0,0.5); */
}

.animation-text-container p {
  overflow: hidden;
	margin: 0;
}

.animation-text-container > p > span {
	font-size: clamp(3rem, 4vw + 1rem, 10rem);
  color: var(--color-black-2);
  text-decoration: none;
  background-image:
		/* First one is the highlight */
		linear-gradient(90deg, transparent calc(100% - 8ch), var(--accent) calc(100%  - 8ch)),
  	linear-gradient(90deg, var(--fill), var(--fill)),
    linear-gradient(90deg, var(--underline-color), var(--underline-color));
  background-size:
  	var(--underline-block-width) var(--underline-width),
  	var(--underline-block-width) var(--underline-width),
    100% var(--underline-width);
  background-repeat: no-repeat;
  background-position-x: 0;
  background-position-y: 100%;
  background-clip: text;
  color: var(--finish-fill);
}

.animation-container {
  height: 300vh;
}

section {
  position: sticky;
  top: 0;
	height: 100vh;
	width: 100vw;
  display: flex;
  align-items: center;
}


@supports (animation-timeline: scroll()) {
  @media (prefers-reduced-motion: no-preference) {
    .animation-container {
      view-timeline-name: --section;
    }
    
    .animation-text-container > p > span {
      background-position-x:
        calc(var(--underline-block-width) * -1),
        calc(var(--underline-block-width) * -1),
        0;
      color: transparent;
      animation-name: fill-up, color-in;
      animation-fill-mode: both;
      animation-timing-function: linear;
    	animation-timeline: --section;
    	animation-range: entry 100% cover 50%, cover 50% exit 0%;
    }

    @keyframes fill-up {
    	to { background-position-x: 0, 0, 0; }
    }

    @keyframes color-in {
    	to { color: var(--finish-fill); }
    }
  }
}


/* about */

.info-section {

}

.info-section-header {
  color: var(--color-black-2);
}

.info-section-text p {
  margin-top: 1.5rem;
}

.info-section-extra-grid-1 {
  display: grid;
  grid-template-columns: repeat(2, 17vw);
  grid-template-rows: repeat(7, 6vh);
  grid-gap: 15px;
}

.info-section-extra-grid-1-item {
  border-radius: 20px;
  box-shadow: var(--soft-shadow-1);
}

.info-section-extra-grid-1-item__1 {
  background-image: url('assets/images/luciancheng.jpg');
  background-position: center;
  background-size: cover;
  grid-column: 1/2;
  grid-row: 1/7;
}

.info-section-extra-grid-1-item__2 {
  background-image: url('assets/images/lucian_computer.png'), linear-gradient( 
    var(--color-blue-2), var(--color-blue-1));

  background-position: center;
  background-size: cover;
  grid-column: 2/3;
  grid-row: 2/8;
}

.unimportant-text {
  color: var(--color-black-4);
}



.info-section-extra-grid-2 {
  display: grid;
  grid-template-columns: repeat(7, 4vw);
  grid-template-rows: repeat(6, 5vh);
  grid-gap: 15px;
}

.info-section-extra-grid-2-item {
  border-radius: 20px;
  box-shadow: var(--soft-shadow-1);
}

.info-section-extra-grid-2-item__1 {
  background-image: url('assets/images/mcmaster1.jpg');
  background-position: center;
  background-size: cover;
  grid-column: 2/9;
  grid-row: 1/7;
}

.info-section-extra-grid-3 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
  overflow: visible;
  grid-gap: 1rem;
  justify-content: space-between;
}

.info-section-extra-grid-3-item {
  padding: 1rem;
  transform: translateX(-50px);
  display: flex;
  flex-direction: column;
  /* box-shadow: var(--soft-shadow-1); */
  overflow: hidden;
  padding-bottom: 7rem;
}

.info-section-extra-grid-3-item > h4{
  font-size: 1.5rem;
  font-weight: 600;
}
.techstack-icon-card {
  background-color: var(--color-white-3);
  padding: 0.7rem;
  border-radius: 0.5rem;
  /* box-shadow: 
    2px 5px 15px var(--color-blue-1),
   0px 5px 15px var(--color-pink-1); */
        
}



/* experience */

.experience {
  background-color: var(--color-white-1);
}

.experience-card {
  width: 100%;
  position: relative; /* Make it relative to properly contain child elements */
  overflow: hidden; /* Hide overflowing content */
  aspect-ratio: 1 / 1.35;
}

.exp-rounded-corners:hover {
  cursor: pointer;
}

.experience-card-image {
  width: 100%;
  box-shadow: var(--soft-shadow-1);
  background-position: center;
  background-size: cover;
  position: relative; /* Ensure that child elements are positioned correctly */
  transition: opacity var(--transitionTime);
  aspect-ratio: 1 / 1;
  overflow: hidden;
  transition: var(--transitionTime);
}

.exp-rounded-corners {
  overflow: hidden;
  border-radius: 1rem;
  position: relative;
}

.exp-rounded-corners:hover .experience-card-image {
  transform: scale(1.03);
}

.experience-card-frosted-glass {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 1.25rem 2rem;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}

.experience-card-frosted-glass * {
  color: var(--color-white-3);
  transition: color var(--transitionTime);
}

.learn-more-text::after {
  content: ">";
  position: absolute;
  transform: translateX(7px);
  transition: var(--transitionTime);
}

.exp-rounded-corners:hover .learn-more-text::after  {
  transform: translateX(10px);
}


.experience-grid {
  display: grid;
  width: 100%;
  grid-gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
}

/*experince page */
.experience-pos-grid {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.experience-pos-grid-item {
  border-radius: 2rem;
  box-shadow: var(--soft-shadow-1);
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
}

.experience-pos-grid-details {
  background-color: var(--color-white-1);
  grid-column: 1 / 5;
}

.experience-pos-grid-image {
  grid-column: 5/7;
  aspect-ratio: 1/1;
  background-position: center;
  background-size: cover;
}

.experience-pos-grid-description {
  grid-column: 1/4;
  background-color: var(--color-black-1);
}

.experience-pos-grid-skills {
  background-color: var(--color-white-1);
  grid-column: 4/7;
}

.exp-pos-grid-info {
  flex-grow: 1;
}

.exp-pos-grid-info p {
  color: var(--color-black-3);
}

.exp-pos-grid-info .unimportant-text {
  color: var(--color-black-4);
}

.exp-pos-exp-desc {
  color: var(--color-black-2);
}

.back-home-text:hover {
  text-decoration: underline;
}

.company-name-text {
  color: var(--meta-blue-1);
}







.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7); /* Tint the background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.popup-content {
  background-color: var(--color-white-1);
  width: 50%;
  height: 95%;
  overflow-y: auto;
  border-radius: 0.75rem;
  position: relative;
}

.close-btn {
  color: var(--color-white-1);
  cursor: pointer;
}
.experience-popup-container {
  overflow-y: auto;
}


/* Customize scrollbar */
.popup-content::-webkit-scrollbar {
  width: 1rem;
}

.popup-content::-webkit-scrollbar-track {
  background: transparent; /* Transparent scrollbar track */
}

.popup-content::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2); /* Color for the scrollbar thumb */
  border-radius: 10px; /* Rounded scrollbar */
  border: 3px solid var(--color-white-1); /* Space around scrollbar */
}

.experience-information-container {
  background-color: var(--color-white-3);
  border-radius: 1rem;
}

.experience-position-title {
  color: var(--color-black-1);
}

.experience-company-image {
  background-position: center;
  background-size: cover;
  aspect-ratio: 1/1;
  border-radius: 1rem;
}




/* Projects */

.projects {
  background-color: var(--color-white-3);
}

.projects-heading {
  background: radial-gradient(circle,
  var(--color-blue-1), var(--color-pink-1));
  animation: text-gradient 15s linear infinite;
  background-size: 300% 300%;
  background-clip: text;
  color: transparent;
}

.project-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
}

.project-card {
  background-color: var(--color-white-1);
  max-width: 1600px;
  width: 100%;
  border-radius: 2.5rem;
  overflow: hidden;
  transition: ease-out var(--transitionTime);
}

.project-card:hover {
  box-shadow: var(--soft-shadow-1);
}


.project-card-image-container {
  height: 24rem;
  border-radius: 1rem;
  transition: var(--transitionTime);
  overflow: hidden;
}

.project-card-image-container:hover .project-card-image {
  transform: scale(1.02);
}

.project-card-image {
  width: 100%;
  height: 100%;
  box-shadow: var(--soft-shadow-1);
  background-position: center;
  background-size: cover;
  position: relative;
  transition: 0.6s;
}

.project-tech {
  background-color: var(--color-white-3);
  color: var(--color-black-2);
  font-weight: 500;
  border-radius: 1rem;
  padding: 0.6rem 0.9rem;
}

.project-card-button, .project-card-button i {
  color: var(--meta-blue-2);
}

.project-card-button {
  padding: 0.6rem 0.9rem;
  border-radius: 0.7rem;
  transition: var(--transitionTime);
}

.project-card-button:hover {
  scale: 1.05;
}

.view-project-text {
  transition: var(--transitionTime);
  position:relative;
}

.view-project-text::after {
  content: ">";
  position: absolute;
  transform: translateX(7px);
  transition: var(--transitionTime);
}

.view-project-text:hover {
  color: var(--color-black-1);
  text-decoration: underline;
}

.view-project-text:hover::after  {
  transform: translateX(15px);
}


/* Footer */

.footer {
  background-color: var(--color-black-1);
}

.footer-content {
  position: relative;
}

.contact {
  position: absolute;
  transform: translateY(calc(-50% - 9rem));
  border-radius: 0.5rem;
  background-image: linear-gradient(to bottom right, var(--color-blue-1), var(--color-pink-1));
}

.lets-connect-text {
  color: var(--color-white-1);
}

.send-contact-button {
  color: var(--color-white-1);
  border: 2px solid var(--color-white-1);
  padding: 0.8rem 1.5rem;
  border-radius: 0.8rem;
  transition: var(--transitionTime);
}

.send-contact-button:hover {
  background-color: var(--color-white-1);
}

.send-contact-button>span {
  color: var(--color-white-1);
  transition: var(--transitionTime);
}

.send-contact-button:hover span {
  background: radial-gradient(circle,
    var(--color-blue-1), var(--color-pink-1));
    background-size: 300% 300%;
    background-clip: text;
    color: transparent;
}

.main-footer * {
  color: var(--color-black-4);
}

.contact-social {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.contact-socialmedia * {
  transition: var(--transitionTime);
}

.contact-socialmedia:hover i, .contact-socialmedia:hover p {
  color: var(--color-white-2);
}


/* responsiveness */

@media (min-width: 800px) {
  .links2 {
      display: flex; /* Show the nav links on medium and larger screens */
  }
  .hamburger-menu {
    display: none; /* Hide the hamburger menu on medium and larger screens */
  }
  .show {
    display: none;
  }
}

@media (max-width: 1500px) {
  .content {
    max-width: 90%;
  }
  .popup-content {
    width: 70%;
  }
}

@media(max-width: 1400px) {
  h1 > *{
    font-size: 5rem;
    line-height: 1;
  }
  .into-background-text {
    font-size: 1.3rem;
    line-height: 1.75rem;
  }
  .experience-popup-container {
    padding: 2rem;
  }
}

@media(max-width: 1300px) {
  .experience-grid {
    grid-template-columns: repeat(2, 1fr); /* 2 columns for medium screens */
  }
}

@media(max-width: 1200px) {
  .info-section-extra-grid-3 {
    grid-template-columns: repeat(2, 1fr);
  }
  .info-section-1 {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    
  }
  .info-section-extra-grid-1 {
    grid-template-columns: repeat(2, 45vw);
    grid-template-rows: repeat(7, 8vh);
  }
}

@media(max-width: 1100px) {
  .experience-pos-grid {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .experience-pos-grid-details {
    grid-column: 1 / 4;
  }
  
  .experience-pos-grid-image {
    grid-column: 4/7;
    aspect-ratio: 1/1;
  }
  
  .experience-pos-grid-description {
    grid-column: 1/4;
  }
  
  .experience-pos-grid-skills {
    grid-column: 4/7;
  }
}

@media (max-width: 900px) {
  .content {
    max-width: 95%;
  }
  .project-card {
    align-items: center;
    flex-direction: column;
    height: auto;
    padding: 1.75rem;
  }
  .project-card-info-section {
    max-width: 100%;
  }
  .project-card-image-container {
    width: 100%;
    aspect-ratio: 1 / 0.8;
  }
}

@media (max-width: 800px) {
  .experience-grid {
    grid-template-columns: 1fr; /* 1 column for small screens */
  }
  .links {
    justify-content: end;
  }
  .info-section-2 {
    flex-direction: column;
    align-items: center;
  }
  .info-section-extra-grid-2 {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 30vh);
  }
  .info-section-extra-grid-2-item__1 {
    background-image: url('assets/images/mcmaster1.jpg');
    background-position: center;
    background-size: cover;
    grid-column: 1/8;
    grid-row: 1/7;
  }

  .experience-pos-grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
  .experience-pos-grid-details {
    grid-row: 2/3;
    
    grid-column: 1/1;
  }
  
  .experience-pos-grid-image {
    aspect-ratio: 1/1;
    grid-row: 1/2;
    grid-column: 1/1;
  }
  
  .experience-pos-grid-description {
    grid-row: 3/4;
    grid-column: 1/1;
  }
  
  .experience-pos-grid-skills {
    grid-row: 4/5;
    grid-column: 1/1;
  }

  .project-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .project-card-image-container {
    height: 16rem;
  }
  .popup-content {
    width: 95%;
  }
}

@media (max-width: 750px) {
  .contact {
    text-align: center;
    flex-direction: column;
    gap: 2rem;
    height: auto;
  }
  .main-footer {
    text-align: center;
    flex-direction: column;
    align-items: center;
  }
  .footer-links {
    margin-top: 2rem;
    align-items: center;
  }
}

@media (max-width: 700px) {
  .info-section-extra-grid-3 {
    grid-template-columns: repeat(1, 1fr);
  }
  h1 > *{
    font-size: 3.5rem;
    line-height: 1;
  }
  .into-background-text {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
  .sectionheading {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
}

@media (max-width: 500px) {
  .info-section-extra-grid-1 {
    grid-template-columns: repeat(1, 90vw);
    grid-template-rows: repeat(2, 50vh);
  }
  .info-section-extra-grid-1-item__1 {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .info-section-extra-grid-1-item__2 {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .experience-popup-container {
    padding: 0.7rem;
  }
}

@media (max-width: 400px) {
  .experience-pos-grid-image {
    aspect-ratio: auto;
  }
}

/* animation */

@keyframes appear-fade-in-standard {
  from {
    opacity: 0.5;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.scroll-anim-fade-in-standard {
  animation: appear-fade-in-standard linear;
  animation-timeline: view();
  animation-range: entry 0% cover 25%;
}

@keyframes text-fade-in {
  from {
    opacity: 0;
  } to {
    opacity: 1;
  }
}

.fade-in-object {
  animation: text-fade-in linear both;
  animation-timeline: view();
  animation-range: entry 20% cover 35%;
}

.hidden-anim {
  opacity: 0;
  transition: all 1s;
}

.hidden-header {
  transform: translateY(25px);
  filter: blur(2px);
}

.hidden-come-from-left {
  transform: translate(-50px);
}

.hidden-come-from-right {
  transform: translate(50px);
}


.show-element {
  opacity: 1;
  transform: translate(0, 0);
  filter: blur(0);
}

@media(prefers-reduced-motion) {
  .hidden-anim {
    transition: none;
  }
}

.info-section-extra-grid-3-item:nth-child(2) {
  transition-delay: 200ms;
}

.info-section-extra-grid-3-item:nth-child(3) {
  transition-delay: 400ms;
}

.info-section-extra-grid-3-item:nth-child(4) {
  transition-delay: 600ms;
}
